<div class="container mt-5">
    <form [formGroup]="busForm"(ngSubmit)="saveBus()"  class="border p-4 rounded bg-light">
      <h4 class="mb-4">Bus Details Form</h4>
  
      <div class="mb-3">
        <label for="busOperatorNameDto" class="form-label">Bus Operator Name</label>
        <input
          type="text"
          id="busOperatorNameDto"
          name="busOperatorNameDto"
          formControlName="busOperatorNameDto"
          class="form-control"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="busNumberDto" class="form-label">Bus Number</label>
        <input
          type="text"
          id="busNumberDto"
          name="busNumberDto"
          formControlName="busNumberDto"
          class="form-control"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="busTypeDto" class="form-label">Bus Type</label>
        <input
          type="text"
          id="busTypeDto"
          name="busTypeDto"
          formControlName="busTypeDto"
          class="form-control"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="busTotalSeatsDto" class="form-label">Total Seats</label>
        <input
          type="number"
          id="busTotalSeatsDto"
          name="busTotalSeatsDto"
          formControlName="busTotalSeatsDto"
          class="form-control"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary" routerLink="bus-list" [disabled]="busForm.invalid">Submit</button>
    </form>
  </div>
  