<div class="container mt-4">
  <form class="row g-3" [formGroup]="ticketIssueForm" (ngSubmit)="filterTrips()">
    <div class="col-md-6">
      <label for="startLocation" class="form-label">Start Location</label>
      <select id="startLocation" class="form-select" formControlName="start">
        <option value="" disabled>Select Start Location</option>
        <option *ngFor="let location of locationList" [value]="location.locationMasterIdDto">
          {{ location.locationNameDto }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="destination" class="form-label">Destination</label>
      <select id="destination" class="form-select" formControlName="destination">
        <option value="" disabled>Select Destination</option>
        <option *ngFor="let location of locationList" [value]="location.locationMasterIdDto">
          {{ location.locationNameDto }}
        </option>
      </select>
      
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Find Tickets</button>
    </div>
  </form>
</div>




<div class="container mt-5">
  <h3 class="text-center">Available Bus for your Trip</h3>
  <form>
    <div class="form-row">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Trip Date</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Bus Number</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of filteredTrips">
            <td>{{ trip.tripIdDto }}</td>
            <td>{{ trip.tripDateDto }}</td>
            <td>{{ trip.tripDepartureTimeDto }}</td>
            <td>{{ trip.tripArrivalTimeDto }}</td>
            <td>{{ getLocationName(trip.startLocationDtoId) }}</td>
            <td>{{ getLocationName(trip.destinationDtoId) }}</td>
            <td>{{ getBusName(trip.busIdDto) }}</td>
            <td>{{ trip.ticketPricePerPersonDto }}</td>
            <td>
              <button class="btn btn-success" routerLink="/selectBus/{{ trip.tripIdDto }}">Select Bus</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
