<div class="container mt-5">
    <h3 class="text-center">All Location in the Database</h3>
    <form>
        <div class="form-row">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Location city Name</th>
                      
                </thead>
                <tbody>
                    <tr *ngFor="let location of locationList ">
                        <td>{{location.locationMasterIdDto}}</td>
                        <td>{{location.locationNameDto}}</td>
                        

                        <td>
                            <button class="btn btn-danger"(click)="deleteLocation(location.locationMasterIdDto)">Delete</button>
                            <button class="btn btn-warning" routerLink="/locationUpdate/{{location.locationMasterIdDto}}">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
