<div class="container text-center mt-5">
    <button type="submit" class="btn btn-primary " routerLink="user">Add User</button>
    <button type="submit" class="btn btn-success" routerLink="user-list">List User</button>
    <button type="submit" class="btn btn-primary" routerLink="bus">Add Bus</button>
    <button type="submit" class="btn btn-success" routerLink="bus-list">List Bus</button>
    <button type="submit" class="btn btn-primary" routerLink="location-list">List Location</button>
    <button type="submit" class="btn btn-warning" routerLink="location">Add Location</button>
    <button type="submit" class="btn btn-primary" routerLink="trip">Add Trip</button>
    <button type="submit" class="btn btn-success" routerLink="trip-list">List Trip</button>

</div>
<router-outlet></router-outlet>