.bus{
    background-image: url('bus.png'); /* Replace with your image URL */
    background-size: cover;
            background-position: center;
            height: 100vh;
            width: 80%;
            position: relative;
}